
<div class="bg-blue-100 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 lg:text-center text-left mb-10">
        <h2 class="text-base/7 font-semibold text-indigo-600">Feature Post</h2>
        <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-4xl lg:text-balance">Recent Content</p>
    </div>
    <div class="mx-auto py-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 md:gap-7 gap-5 px-7">
        <article class="mt-5">
            <a href="#" class="shine block">
              <img src="../../src/assets/images/thumb1.jpg" alt="" class="rounded-t-lg w-full">
            </a>
            
            <div class="bg-white pb-10 rounded-b-lg shadow-lg">
                <div class="flex justify-between py-3 text-gray-500 border-b-1 border-gray-200 px-4 bg-indigo-900">
                    <div class="hover:text-indigo-100 text-gray-400 font-medium"><a href="#">Seo</a> - <a href="#">Content</a></div>
                    <p class="text-gray-400 font-medium"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 inline -mt-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                       2 min read</p>
                </div>
                <a href="#" class="hover:text-indigo-600">
                    <h2 class="text-xl font-medium px-4 pt-3">How to promote a blog post easy method</h2>
                </a>
                <p class="py-2 px-4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                <a href="">  
                    <p class="pt-3 duration-300 ease-in hover:pl-4 hover:text-gray-500 text-indigo-700 px-4">Read more <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </p>
                </a>  
            </div>     
          </article>

          <article class="mt-5">
            <a href="#" class="shine block">
                <img src="../../src/assets/images/thumb2.jpg" alt="" class="rounded-t-lg w-full">
            </a>
            
            <div class="bg-white pb-10 rounded-b-lg shadow-lg">
                <div class="flex justify-between py-3 text-gray-500 border-b-1 border-gray-200 px-4 bg-indigo-900">
                    <div class="hover:text-indigo-100 text-gray-400 font-medium"><a href="#">Seo</a> - <a href="#">Content</a></div>
                    <p class="text-gray-400 font-medium"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 inline -mt-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                       2 min read</p>
                </div>
                <a href="#" class="hover:text-indigo-600">
                    <h2 class="text-xl font-medium px-4 pt-3">How to promote a blog post easy method</h2>
                </a>
                <p class="py-2 px-4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                <a href="">  
                    <p class="pt-3 duration-300 ease-in hover:pl-4 hover:text-gray-500 text-indigo-700 px-4">Read more <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </p>
                </a>  
            </div>     
          </article>

          <article class="mt-5">
            <a href="#" class="shine block">
                <img src="../../src/assets/images/thumb3.jpg" alt="" class="rounded-t-lg w-full">
            </a>
            
            <div class="bg-white pb-10 rounded-b-lg shadow-lg">
                <div class="flex justify-between py-3 text-gray-500 border-b-1 border-gray-200 px-4 bg-indigo-900">
                    <div class="hover:text-indigo-100 text-gray-400 font-medium"><a href="#">Seo</a> - <a href="#">Content</a></div>
                    <p class="text-gray-400 font-medium"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 inline -mt-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                       2 min read</p>
                </div>
                <a href="#" class="hover:text-indigo-600">
                    <h2 class="text-xl font-medium px-4 pt-3">How to promote a blog post easy method</h2>
                </a>
                <p class="py-2 px-4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                <a href="">  
                    <p class="pt-3 duration-300 ease-in hover:pl-4 hover:text-gray-500 text-indigo-700 px-4">Read more <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </p>
                </a>  
            </div>     
          </article>

          <article class="mt-5">
            <a href="#" class="shine block">
                <img src="../../src/assets/images/thumb4.jpg" alt="" class="rounded-t-lg w-full">
            </a>
            
            <div class="bg-white pb-10 rounded-b-lg shadow-lg">
                <div class="flex justify-between py-3 text-gray-500 border-b-1 border-gray-200 px-4 bg-indigo-900">
                    <div class="hover:text-indigo-100 text-gray-400 font-medium"><a href="#">Seo</a> - <a href="#">Content</a></div>
                    <p class="text-gray-400 font-medium"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 inline -mt-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                       2 min read</p>
                </div>
                <a href="#" class="hover:text-indigo-600">
                    <h2 class="text-xl font-medium px-4 pt-3">How to promote a blog post easy method</h2>
                </a>
                <p class="py-2 px-4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                <a href="">  
                    <p class="pt-3 duration-300 ease-in hover:pl-4 hover:text-gray-500 text-indigo-700 px-4">Read more <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </p>
                </a>  
            </div>     
          </article>
          
    </div>
    
    <div class="mx-auto py-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 md:gap-7 gap-5 px-7">
        <article class="mt-5">
            <a href="#" class="shine block">
                <img src="../../src/assets/images/thumb5.jpg" alt="" class="rounded-t-lg w-full">
            </a>
            
            <div class="bg-white pb-10 rounded-b-lg shadow-lg">
                <div class="flex justify-between py-3 text-gray-500 border-b-1 border-gray-200 px-4 bg-[#f7f7fb]">
                    <div class="hover:text-indigo-600 text-gray-600 font-medium"><a href="#">Seo</a> - <a href="#">Content</a></div>
                    <p class="text-gray-600 font-medium"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 inline -mt-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                       2 min read</p>
                </div>
                <a href="#" class="hover:text-indigo-600">
                    <h2 class="text-xl font-medium px-4 pt-3">How to promote a blog post easy method</h2>
                </a>
                <p class="py-2 px-4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                <a href="">  
                    <p class="pt-3 duration-300 ease-in hover:pl-4 hover:text-gray-500 text-indigo-700 px-4">Read more <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </p>
                </a>  
            </div>     
          </article>

          <article class="mt-5">
            <a href="#" class="shine block">
                <img src="../../src/assets/images/thumb6.jpg" alt="" class="rounded-t-lg w-full">
            </a>
            
            <div class="bg-white pb-10 rounded-b-lg shadow-lg">
                <div class="flex justify-between py-3 text-gray-500 border-b-1 border-gray-200 px-4 bg-[#f7f7fb]">
                    <div class="hover:text-indigo-600 text-gray-600 font-medium"><a href="#">Seo</a> - <a href="#">Content</a></div>
                    <p class="text-gray-600 font-medium"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 inline -mt-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                       2 min read</p>
                </div>
                <a href="#" class="hover:text-indigo-600">
                    <h2 class="text-xl font-medium px-4 pt-3">How to promote a blog post easy method</h2>
                </a>
                <p class="py-2 px-4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                <a href="">  
                    <p class="pt-3 duration-300 ease-in hover:pl-4 hover:text-gray-500 text-indigo-700 px-4">Read more <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </p>
                </a>  
            </div>     
          </article>

          <article class="mt-5">
            <a href="#" class="shine block">
                <img src="../../src/assets/images/thumb7.jpg" alt="" class="rounded-t-lg w-full">
            </a>
            
            <div class="bg-white pb-10 rounded-b-lg shadow-lg">
                <div class="flex justify-between py-3 text-gray-500 border-b-1 border-gray-200 px-4 bg-[#f7f7fb]">
                    <div class="hover:text-indigo-600 text-gray-600 font-medium"><a href="#">Seo</a> - <a href="#">Content</a></div>
                    <p class="text-gray-600 font-medium"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 inline -mt-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                       2 min read</p>
                </div>
                <a href="#" class="hover:text-indigo-600">
                    <h2 class="text-xl font-medium px-4 pt-3">How to promote a blog post easy method</h2>
                </a>
                <p class="py-2 px-4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                <a href="">  
                    <p class="pt-3 duration-300 ease-in hover:pl-4 hover:text-gray-500 text-indigo-700 px-4">Read more <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </p>
                </a>  
            </div>     
          </article>

          <article class="mt-5">
            <a href="#" class="shine block">
                <img src="../../src/assets/images/thumb8.jpg" alt="" class="rounded-t-lg w-full">
            </a>
            
            <div class="bg-white pb-10 rounded-b-lg shadow-lg">
                <div class="flex justify-between py-3 text-gray-500 border-b-1 border-gray-200 px-4 bg-[#f7f7fb]">
                    <div class="hover:text-indigo-600 text-gray-600 font-medium"><a href="#">Seo</a> - <a href="#">Content</a></div>
                    <p class="text-gray-600 font-medium"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 inline -mt-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                       2 min read</p>
                </div>
                <a href="#" class="hover:text-indigo-600">
                    <h2 class="text-xl font-medium px-4 pt-3">How to promote a blog post easy method</h2>
                </a>
                <p class="py-2 px-4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                <a href="">  
                    <p class="pt-3 duration-300 ease-in hover:pl-4 hover:text-gray-500 text-indigo-700 px-4">Read more <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </p>
                </a>  
            </div>     
          </article>
          
    </div>
    <div class="max-w-sm mx-auto flex justify-center my-7">
        <button type="button" class="bg-blue-600 py-3 px-7 font-medium text-md text-blue-100 rounded-md hover:bg-blue-800 cursor-pointer">Load More</button>
    </div>
</div>

<div class="relative px-6 bg-indigo-500 py-35 bg-[url(../../src/assets/images/newsletter.jpg)] bg-center bg-cover">
    <div class="absolute bg-stone-800 top-0 left-0 w-full h-full opacity-[0.1]"></div>
    <div class="max-w-xl mx-auto">
        <div class="grid grid-cols-1 align-middle relative z-2">
            <div class="text-center">
                <h3 class="text-3xl md:text-5xl text-white">Subscribe our Newsletter</h3>
                <p class="text-gray-200 font-medium pt-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, </p>
            </div>
            <div class="mt-10">
                <form>
                    <div class="flex gap-5">
                        <input type="text" class="w-full py-4 px-4 border-lg-indigo-500 bg-[#fff] rounded-sm mb-4" placeholder="Name" />
                        <input type="email" class="w-full py-4 px-4 border-lg-indigo-500 bg-[#fff] rounded-sm mb-4" placeholder="Email" />
                    </div>
                        <div class="justify-center flex">    
                        <button type="submit" class="w-full bg-[#e15754] py-4 px-7 font-medium text-md text-blue-100 rounded-md hover:bg-blue-950 cursor-pointer">Subscribe</button>
                    </div>    
                </form>
            </div>
        </div>
    </div>
</div>